:root {
    --amarillo10: #f39c12;
    --amarillo20: #eebc6b;
    --blanco: #fff;
    --blanco-alfa: rgba(255, 255, 255, 0.5);
    --gris10: #f5f5f5;
    --gris20: #646464;
    --gris30: #1e1e1e;
    --gris-alfa: rgba(50,50,50,0.5);
    --negro: #000;
    --negro-alfa: rgba(0,0,0,0.5);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth; /** suaviza el cambio de secciones al dar click sobre el link**/ 
}

header{
    background-color: #262626;
}

body{
    font-family: sans-serif;
}

h1{
    font-size: 3.5em;
}

h2{
    font-size: 2.7em;
}

h3{
    font-size: 2em;
}

h4{
    font-size: 1.25em;
}

p{
    font-size: 1.25em;
}

ul{
    list-style: none;
}

li{
    list-style: none;
}

a{
    color: white;
    text-decoration: none;
}

button{
    font-size: 1.25em;
    font-weight: bold;
    color: var(--blanco);
    background-color: var(--amarillo10);
    padding: 10px 30px;
    border-radius: 10px;
    border: 2px solid var(--blanco-alfa);
    box-shadow: 0px 0px 10px var(--blanco-alfa);
}

button:hover{
    background-color: var(--amarillo20);
    cursor: pointer;
}

.container{  
    max-width: 1400px;
    margin: auto;
}

/** Barra de navegación **/
header{
    background-color: #262626;
}

header .nav-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .nav-container a{
    text-decoration: none;
}

header .nav-container .slogan{
    padding: 25px 30px;
    font-size: 1.45em;
    font-weight: bold;
    color: var(--amarillo10);
}

header .nav-container .slogan:hover{
    color: var(--gris30)
}

/** Sección Hero */
#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: url(./img/img-hero-1.jpg);
    background-repeat: no-repeat;
    background-size: cover; /* Ajusta la imagen al contenedor, elimina espacios negros*/
    background-position: center center;
    max-width: 100%;
}

#hero h1{
    color: var(--blanco);
    padding-bottom: 40px;
}

#hero button{
    font-size: 1.75em;
    border-radius: 10px;
}

img{
    width:420px;
    height:400px;
    float: left;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 40px;
}

#somos h1{
    text-align: center;
    margin-right: 200px;
}


#somos .parrafo p{
    width: 700px;
    padding: 5px;
}

#somos{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    
}

.nav-logo{
    font-size: 2rem;
}

.nav-link{
    transition: 0.7s ease;
}

.nav-link:hover{
    color: dodgerblue;
}

/* Inicio menu hamburguesa */

.hamburguesa{
    display: none;
    cursor: pointer;
}

.barra{
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px auto;
}

@media(max-width: 768px){

    .container {
        max-width: 100%;
        padding: 20px;
      }
      header {
        padding: 10px;
      }
      #hero {
        height: 60vh;
      }
      img {
        width: 100%;
        height: auto;
      }
      #somos {
        flex-direction: column;
      }
      #somos h1 {
        margin-right: 0;
      }
      #somos .parrafo p {
        width: 100%;
      }
      header .nav-bar {
        display: flex;
        /* flex-direction: column; */
        /* align-items: center; */
        justify-content: space-between;
      }
      
      .nav-link {
        font-size: 16px;
      }

    .hamburguesa{
        display: block;
    }

    .hamburguesa.active .barra:nth-child(2){
        opacity: 0;
    }

    
    .hamburguesa.active .barra:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburguesa.active .barra:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        flex-direction: column;
        background-color: #262626;
        top: 70px;
        width: 100%;
        gap: 16px;
        left: -100%;
        transition: 0.3s;
    }

    .nav-item{
        margin: 16px 0;
    }

    .nav-menu.active{
        left: 0;
    }
}

